<!DOCTYPE html>
<html>

<head>
    <title>Presupuestos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="navbar">

        <img src="/img/LogoHorizontal.png" style="width:15vw;">

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonInicio" onclick="">Inicio</p>
            <img src="/img/LogoSoloBarra.png" id="navImgInicio" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonTransacciones" onclick="goToTransacciones()">Transacciones</p>
            <img src="/img/LogoSoloBarra.png" id="navImgTransacciones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonRetos" onclick="">Retos</p>
            <img src="/img/LogoSoloBarra.png" id="navImgRetos" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonInversiones" onclick="">Inversiones</p>
            <img src="/img/LogoSoloBarra.png" id="navImgInversiones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonPresupuestos" onclick="">Presupuestos</p>
            <img src="/img/LogoSoloBarra.png" id="navImgPresupuesto" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonPerfil" onclick="">Perfil</p>
            <img src="/img/LogoSoloBarra.png" id="navImgPerfil" style="width: 2rem; display:none">
        </div>

        <p id="textoPruebaRuta" style="position:absolute; top:-2.5rem; right:20.5rem; color: rgb(160, 167, 164);"></p>

    </div>

    <div class="contenido">
        
    </div>

</body>


<!--Script-->
<script src="/js/navText.js"></script>
<script src="/js/navigate.js"></script>
</html>