<!DOCTYPE html>
<html>

<head>
    <title>Transacciones</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="navbar">

        <img th:src="@{/img/LogoHorizontal.png}" style="width:15vw;">

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonInicio" onclick="goToIndex()">Inicio</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgInicio" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonTransacciones" onclick="goToTransacciones()">Transacciones</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgTransacciones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonRetos" onclick="goToRetos()">Retos</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgRetos" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonInversiones" onclick="goToInversiones()">Inversiones</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgInversiones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonPresupuestos" onclick="goToPresupuesto()">Presupuestos</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgPresupuesto" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo" >
            <p class="navButton" id="navButtonPerfil" onclick="goToPerfil()">Perfil</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgPerfil" style="width: 2rem; display:none">
        </div>

        <p id="textoPruebaRuta" style="position:absolute; top:-2.5rem; right:20.5rem; color: rgb(160, 167, 164);"></p>

    </div>

    <div class="contenido">
        <div class="divPartidoVertical">
            <div class="divVerticalLeft">
                <p th:text="${mensaje}">Mensaje de prueba</p>
            </div>
            <div class="divVerticalRight">
                <p style="font-size:4rem; font-weight: 700;">Añadir Transaccion</p>
                <form method="post">

                    <label>Fecha*</label>
                    <input id="fecha" type="datetime" required />

                    <label>Tipo</label>
                    <input id="" type="" required />

                    <label>Categoria*</label>
                    <input id="" type="" required />

                    <label>Cantidad</label>
                    <input id="" type="text" required />

                    <label>Informacion</label>
                    <input id="" type="text" required />
                    
                </form>
            </div>
        </div>
    </div>

</body>


<!--Script-->
<script th:src="@{/js/navText.js}"></script>
<script th:src="@{/js/navigate.js}"></script>
</html>