<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Transacciones</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="navbar">

        <img th:src="@{/img/LogoHorizontal.png}" style="width:15vw;">

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonInicio" onclick="goToIndex()">Inicio</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgInicio" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonTransacciones" onclick="goToTransacciones()">Transacciones</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgTransacciones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonRetos" onclick="goToRetos()">Retos</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgRetos" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonInversiones" onclick="goToInversiones()">Inversiones</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgInversiones" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonPresupuestos" onclick="goToPresupuesto()">Presupuestos</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgPresupuesto" style="width: 2rem; display:none">
        </div>

        <div class="navbarTextMiniLogo">
            <p class="navButton" id="navButtonPerfil" onclick="goToPerfil()">Perfil</p>
            <img th:src="@{/img/LogoSoloBarra.png}" id="navImgPerfil" style="width: 2rem; display:none">
        </div>

        <p id="textoPruebaRuta" style="position:absolute; top:-2.5rem; right:20.5rem; color: rgb(160, 167, 164);"></p>

    </div>

    <div class="contenido">
        <div class="divPartidoVertical">

            <div class="divVerticalLeft">
                <p style="font-size:2.5rem; font-weight: 700;">Historial de Transacciones</p>

                <div class="tableCss">
                    <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                        <thead>
                            <tr style="gap:2rem; padding:2rem; justify-content: center; align-items: center;">
                                <th class="thTable">Fecha</th>
                                <th class="thTable">Categoria</th>
                                <th class="thTable">Tipo</th>
                                <th class="thTable">Cantidad</th>
                                <th class="thTable">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr th:each="row: ${historicoTransferencias}" class="row-selectable" th:attr="data-id=${row.id}">
                                <td class="trTable" th:text="${row.fechaTransaccion}"></td>
                                <td class="trTable" th:text="${row.categoriaTransferenciaNombre}"></td>
                                <td class="trTable" th:text="${row.tipoTransferenciaNombre}"></td>
                                <td class="trTable" th:text="${row.cantidad}"></td>
                                <td class="trTable" th:text="${row.descripcion}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="divVerticalRight">
                <p style="font-size:2.5rem; font-weight: 700;">Añadir Transaccion</p>
                <div style="width:700px; height:500px; display:flex; align-items:flex-start; justify-content: center;">
                    <form method="post" style="display:flex; flex-direction: column; justify-content: center; width:100%;">

                        <label>Fecha*</label>
                        <input id="fecha" type="date" name="fechaTransaccion" style="margin-bottom: 1rem;" required />

                        <label>Tipo*</label>
                        <select id="tipo" name="tipoTransferenciaId" required
                            style="padding-bottom: 1rem; margin-bottom: 1rem;">
                            <option value="" disabled selected>Selecciona un tipo</option>
                            <option th:each="t : ${tiposTransferencia}" th:value="${t.id}" th:text="${t.name}">
                            </option>
                        </select>

                        <label>Categoria*</label>
                        <select id="categoria" name="categoriaTransferenciaId" required
                            style="padding-bottom: 1rem; margin-bottom: 1rem;">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option th:each="c : ${categoriaTransferencia}" th:value="${c.id}" th:text="${c.name}">
                            </option>
                        </select>

                        <label>Cantidad*</label>
                        <input id="cantidad" type="number" name="cantidad" step="0.01" min="0" inputmode="decimal"
                            style="margin-bottom: 1rem;" required />

                        <label>Descripcion</label>
                        <input id="descripcion" type="text" name="descripcion" style="margin-bottom: 1rem;" />

                        <button type="submit">Crear Transaccion</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>


<!--Script-->
<script th:src="@{/js/navText.js}"></script>
<script th:src="@{/js/navigate.js}"></script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const rows = document.querySelectorAll('.row-selectable');
        rows.forEach(row => {
            row.addEventListener('click', () => {
                rows.forEach(r => r.classList.remove('selected'));
                row.classList.add('selected');
                const id = row.dataset.id;
                window.location.href = `/transacciones/edit/${id}`;
            });
        });
    });
</script>
</html>